{# BOF OA16o3o_1o0g1o0 #}
<!-- -->
{% load static %} {# 👈あとで static "URL" を使うので load static します #}
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <title>Tic Tac Toe</title>
        <style>
            /* 等幅 */
            .v-textarea textarea {
                font-family: monospace, monospace;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container fluid>
                        <h1>Tic Tac Toe Message Test</h1>
                        <v-form method="POST">
                            {% csrf_token %}

                            <!-- `po_` は POST送信するパラメーター名の目印 -->
                            <!-- 入力 -->
                            <v-textarea name="po_input" required v-model="inputTextbox.value" label="Input" background-color="blue-grey lighten-1"></v-textarea>

                            <v-select v-model="c2sMessageTypeList.value" :items="c2sMessageTypeItems" label="クライアントからサーバーへ送るメッセージの種類一覧"></v-select>
                            <!-- -->
                            <v-btn block elevation="2" v-on:click="postVu()"> Post </v-btn>

                            <!-- 出力 -->
                            <v-textarea name="po_output" required v-model="outputTextbox.value" label="Output" rows="10"></v-textarea>
                        </v-form>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <script src="{% static 'tic_tac_toe_v2/think/things/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/think/concepts/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/think/position/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/think/user_ctrl/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/think/judge_ctrl/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/think/engine/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/msg/s2c_messages/v1o0.js' %}"></script>
        <script src="{% static 'tic_tac_toe_v2/msg/c2s_json_gen/v1o0.js' %}"></script>
        <!--            ===============================================
                        1
        1. src1/apps1/tic_tac_toe_v2/static/tic_tac_toe_v2/msg/c2s_json_gen/v1o0.js
                                     ==============================================
        -->

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script>
            const c2sJsonGen1 = new C2sJsonGen();

            const vue1 = new Vue({
                el: "#app",
                vuetify: new Vuetify(),
                data: {
                    // 入力
                    inputTextbox: {
                        value: `# W.I.P`,
                    },
                    // 出力
                    outputTextbox: {
                        value: 'Please push "Execute" button.',
                    },
                    // クライアントからサーバーへ送るメッセージの種類一覧
                    c2sMessageTypeItems: ["DoMove", "Draw", "Start", "Won"],
                    c2sMessageTypeList: {
                        value: "DoMove",
                    },
                },
                methods: {
                    // 関数名の末尾の Vu は vue1 のメソッドであることを表す目印
                    /**
                     * po_input 欄のコマンドを入力します
                     */
                    postVu() {
                        // console.log(`[methods postVu]`);
                        let doc = null;
                        switch (this.c2sMessageTypeList.value) {
                            case "DoMove":
                                doc = c2sJsonGen1.createDoMove(0, "X");
                                break;

                            case "Draw":
                                doc = c2sJsonGen1.createDraw();
                                break;

                            case "Start":
                                doc = c2sJsonGen1.createStart();
                                break;

                            case "Won":
                                doc = c2sJsonGen1.createWon("X");
                                break;

                            default:
                                doc = {};
                                break;
                        }

                        this.outputTextbox.value = JSON.stringify(doc, null, "    ");
                    },
                },
            });
        </script>
    </body>
</html>
{# EOF OA16o3o_1o0g1o0 #}
